ody {
	font-family: Georgia, serif;
}

h3 {
	color: gray;
}


.logo {
	padding: 10px 200px 20px 100px;
	font-family: Georgia, serif;
	font-size: 30px;
	float: left;
	height:200px;
	width: 600px;
}

.info {
	padding: 80px 200px 20px 200px;
	width: 1000px;
}

.info p {
	float:right;
}

.header {
	border-bottom: 1px dotted black;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.nav {
	text-align: center;
	padding: 40px;
	border-bottom: 1px dotted black;
}

.nav ul {
	list-style: none;
}

.nav li {
	display:inline;
}

.nav a {
	padding: 20px;
	background color: gray;
	text-decoration: none;
	color: gray;
}
