.navbar-default{
	background-color: white;
	box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.5);
}
.navbar ul li{
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #43c3d9;

}


.science{
	background-image:url(https://thceruleanp.s3.amazonaws.com/static/img/arm_with_signal.jpg);
	height:600px;
	background-size: cover;
	background-position: right;
	color:white;
}
@media screen and (max-width:400px){
	.science{
		background-color: black;
		background-image: none;
	}
}

.science h2{
	text-transform: uppercase;
}
.sub-heading{
	color: #43c3d9;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
.thalmic{
	background-color: #43c3d9;
	width: 40%;
	border-radius:20px;
	font-size: 12.9px;
	text-transform: uppercase;
}