img {
	width: 100%;
}

.photo {
	margin: 10px;
}

/* desktop styles, notice the min-width, could also be max-width */
@media(min-width: 768px) {
	img {
		max-width: 280px;
		max-height: 280px;
		/* vertical centering */
		vertical-align: middle;	
		width: auto;
	}	
	.photo {
		float: left;
		background: #333;
		/* horizontal centering */
		text-align: center;
		line-height: 280px;
		width: 280px;
		height: 280px;
	}
	.container {
		width: 900px;
		margin: 0 auto;
	}
}

@media(min-width: 768px) and (max-width: 900px) {
	.container {
		width: 600px;
	}
}