body {
	background-color: #eee;
	font-family: sans-serif;
}
img {
	background: #ccc;
	border: 1px solid gray;
	border-radius: 100px;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-left: 200px;
	float: left;
	padding: 5px;
	position: absolute;
}
p {
	line-height: 1.5em;
	font-family: sans-serif;
	float: right;
	width: 400px;
	margin-right: 200px;
}
 .prev {
	display: inline-block;
	float: left;
	border: 1px solid gray;
	border-radius: 100px;
	background-color: #FFAC4A;
	height: 50px;
	width: 50px;
	text-decoration: none;
	line-height: 3em;
	text-align: center;
	color: black;
	font-family: Verdana;
	position: relative;
}
 .next {
	display: inline-block;
	float: right;
	border: 1px solid gray;
	border-radius: 100px;
	background-color: #FFAC4A;
	height: 50px;
	width: 50px;
	text-decoration: none;
	line-height: 3em;
	text-align: center;
	color: black;
	font-family: Verdana;
	position: relative;
}
.home {
	display: inline-block;
	float: right;
	border: 1px solid gray;
	border-radius: 100px;
	background-color: #FFAC4A;
	height: 60px;
	width: 60px;
	text-decoration: none;
	line-height: 3.5em;
	text-align: center;
	color: black;
	font-family: Verdana;
	position: relative;
}

h1 {
	text-align: center;
	font-family: 'UnifrakturMaguntia', cursive;
	padding-top: 40px;
	font-size: 3em;
}


.links {
	display: block;
	font-family: 'Caesar Dressing', cursive;
	font-size: .85em;
	line-height: 1.7em;
	position: fixed;
	background-color: #AFE7FF;
	width: 500px;
	padding: 10px;
	border-radius: 20%;
	text-align: center;
}
.info p {
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: 100px;
}
