img.inline{
width: 200px;
padding: 30px
border: 1px black solid;
}
img.inline.left {
	float: left;
	margin: 0 15px 0 0;
}
img.inline.right {
	float: right;
	margin: 0 0 0 15px;
}
li {
	list-style-type: none;
}
.logo {
	float: left;
	height: 688px;
}
h1 {
	line-height: 10em;
	font-size: 3em;
	margin-left: 100px;
	position: absolute; 
	top: 0; 
	right: 270px;
	font-family: Verdana;
}
#provinces {
	width: 100%;
	height: 50px;
	background-color: #C9E8D6;
	border-radius: 10%;
	text-align: center;
	line-height: 2em;
	font-size: 1.5em;
	font-weight: bold;
	font-family: sans-serif;
	margin: 0 0 10px 0;
}
.nav {
	float: left;
	width: 100%;
	background-color: #E9FFED;
	text-align: center;
	position: fixed;
	font-size: 1em;
	font-family: sans-serif;
	line-height: 2em;
	margin-right: 5px;
}
a {
	text-decoration: none;
	color: black;
}
.nav a {
	margin-left: 10px;
	margin-right: 10px;
}
a:hover {
	background-color: black;
	color: white;
}

.main {
	float: right;
	width: 80%;
}
.subheads {
	width: 100%;
	background-color: #DCFFF5;
	border-radius: 10%;
}
.coat {
	height: 100px;
	vertical-align: middle;
}
h3 {
	text-align: center;
	line-height: 100px;
	font-family: serif;
	font-size: 2em;
}
.Alberta {
	display: block;
}
.Quebec {
	display: block;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

