body {
	background: #fff;
	font-family: sans-serif;
}

p {
	margin-top: 0;
}

.header {
	width: 100%;
}

.logo {
	float: left;
	height: 200px;
	margin: 10px;
	width: 25%;
}

.flag {
	height: 100px;
}

.ancestor {
	float: right;
	background: url(http://www.antiquaprintgallery.com/ekmps/shops/richben90/images/north-america-1889-usa.-canada.-original-antique-map.-ies.-wdjb--[3]-136243-p.jpg);
	background-size: cover;
	height: 100px;
	width: 65%;
	margin: 10px;
	padding: 25px;
	border-radius: 20px;
}

.box {
	background-color: #fff;
	border: 5px solid black;
	border-radius: 20px;
	height: 20px;
	margin: 20px;
	width: auto;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	position: relative;
}

img.inline {
	width: 150px;
	padding: 5px;
	border: 1px solic #333;
	background: #ccc;
}

img.inline.left {
	float: left;
	margin: 0 15px 0 0;
}

img.inline.right {
	float: right;
	margin: 0 0 0 15px;
}



.nav {
	float: left;
	margin: 0 5% 0 0;
	width: 25%;
}

.main {
	float: right;
	margin: 0;
	width: 70%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }



