 ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}

ul li {     
    list-style: none;    
    display: inline-block;      
}

ul li img {
    cursor: pointer;
}

section {
  padding-top: 50px;
}

.modal-backdrop {
    z-index: 1020;
}


/* 

Large desktop 
@media (min-width: 1200px) { ... }

Portrait tablet to landscape and desktop 
@media (min-width: 768px) and (max-width: 979px) { ... }

Landscape phone to portrait tablet
@media (max-width: 767px) { ... }

Landscape phones and down
@media (max-width: 480px) { ... }

*/
