.box {
	background-color: #666;
	border: 4px dotted #fff;
	height:50px;
	padding:20px;
	position:absolute;
	top:5px;
	width: 221px;
	border-radius: 300px;
	color: #fff;
	margin-left: 816px;
	margin-top: 68px;

	/* Text */

	font-family: Verdana;
	font-size: 20px;


}

.ancestor {
	background-image: url(http://i.imgur.com/UcO44e1.jpg?1?4038);
	background-size:cover;
 	margin-top: 10px;

	position: relative;
	height: 500px;
}



.button a {
 	background: green;
	line-height: 50px;
	display: inline-block;
	color:#fff;
	border-radius: 100px;
	text-decoration: none;
	padding: 7px;
	margin-left: 40px;
}

.logo {
	background:#fff;
	color:#333;
}

span{
	background: red;
}

.container {
	width:700px;
	margin-left: auto;
	margin-right: auto;
}