/* 
Always set the simplest styles first (mobile).
Then as viewports grow, set the styles into Media Queries (ipad, desktop). 
*/

/* For mobile */
img {
	width: 100%;
}

.photo{
	margin: 10px;
}

/* For desktop */
@media(min-width: 768px){
	img{
		max-height: 280px;
		max-width: 280px;
		vertical-align: middle;
		width: auto;	
	}
	.photo{
		background: #333;
		float: left;
		height: 280px;
		line-height: 280px;
		text-align: center;
		width: 280px;
	}
	.container{
	margin: 0 auto;
	width: 900px;
	}
}

/* For ipad */
@media(min-width: 768px) and (max-width: 900px){
	.container{
		width: 600px;
	}
}