img {
	width: 100%;
}

.photo {

	margin: 10px;
}

@media(min-width:767px) {
	img {
		max-height: 280px;
		max-width: 280px;
		vertical-align: middle;
		width: auto;
	}
	.photo {
		background: #C0C0C0;
		float: left;
		height: 280px;
		line-height: 280px;
		text-align: center;
		width: 280px;
	}

	.container {
	margin: 0 auto;
	width: 900px;
	}
}

@media(min-width: 768px) and (max-width:900px) {
	.container {
	width: 600px;
		}
}


