body {

}

img.inline {
	background: #ccc;
	border: 1px solid #333;
	padding: 5px;
	width: 150px;
}

img.inline.left{
	float:left;
	margin: 0 15px 0 0;
}

img.inline.right{
	float:right;
	margin:0 0 0 15px;
}

.nav {
	float:left;
	margin: 0 5% 0 0;
	width: 25%;
}

li {
	color: #FFF;
	margin: 20px 0 20px 0;
	background:#0099FF;
	text-align: center;
    padding: 10px;
    font-size: 21px;
	font-family: sans-serif;
	border-radius: 100px;
	list-style:none;
}

li.btnblk{
	background: #333;
	border-radius: 10px;
}

.main {
	float:right;
	margin : 20px 0 0 5%;
	width: 65%;
}

.clearfix:after{
	visibility: hidden;
	display:block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
 

.logo{
	float:left;
	height:100px;
	margin: 0 15px 0 0;
}

h1{
	line-height: 100px;
}

.header {
	background-image: url(http://www.fishingontario.com/img63.jpg);
	background-size: cover;
	
	height:300px;

}

.icon {
	width: 35px;
	margin-right: 10px;
}

p.prov {
	display:inline-block;
	position: relative;
	bottom:14px	;
}