html {
	background-color: red;
}

body {
	color: black;
	background-color: #EEE;
	background-size: 10px 10px
	font-family: sans-serif;
	border:1px solid black;
	display: table;
}

img {
	float:left;
	max-width: 200px;
	height: 200px;
	margin: 20px;
	border: 1px solid gray;
	padding: 5px;
	display: inline-block;
	background: #CCC;
	border-radius: 50px;
}

.button {
	color: green;
	font-size: 25px;
}

p {
	line-height: 1.5em;
}

h1 {
	text-align: center;
	text-decoration: underline;
}

h1 a.hover {
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
	color:red;
	background:blue;

}

a.hover {
	background-color: red;
}


