img {
	width: 100%;
}
.photo {
	margin: 10px;
}

@media(min-width: 768px) {
	img {
	max-width: 280px;
	max-height: 280px;
	vertical-align: middle;
	width: auto;
	}
	.photo {
	background: #333;
	float: left;
	line-height: 280px;
	width: 280px;
	height: 280px;
	margin: 10px;
	text-align: center;
	}
	.container {
	margin: 0 auto;
	width: 900px;
	}
}

@media(min-width: 768px) and (max-width: 900px) {
	.container {
	width: 600px;
	}
}